html {
    scroll-behavior: smooth;
}

body {
    font-family: Times New Roman, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #efefef;
}

header {
    background-color: skyblue;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav {
    background-color: white;
    text-align: center;
    padding: 10px 0;
}

section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    background-color: white;
    }

footer {
    background-color: skyblue;
    color: white;
    text-align: center;
    padding: 10px 0;
}
        
a {
    text-decoration: none;
}
        
nav a {
    color: black;
    text-decoration: underline;
}

button {
    background-color: grey;
    color: white;
}
        
marquee {
    background-color: grey;
    color: white;
}
        
footer a {
    color: white;
}




